services:
  nginx:
    image: nginx:alpine
    container_name: unimal-nginx
    ports:
      - "80:80"
      - "443:443"
      - "8090:8090"
    volumes:
      - ./docker/nginx/nginx_local.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - api-gateway-server
      - kafka-ui
    networks:
      - backend-network
    restart: always

  api-gateway-server:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    image: eodud4976/unimal-apigateway
    depends_on:
      postgis-db:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  user-server:
    build:
      context: ./user
      dockerfile: Dockerfile
    image: eodud4976/unimal-user
    depends_on:
      postgis-db:
        condition: service_healthy
      api-gateway-server:
        condition: service_started
    ports:
      - "8081:8081"
      - "50081:50081"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  map-server:
    build:
      context: ./map
      dockerfile: Dockerfile
    image: eodud4976/unimal-map
    depends_on:
      postgis-db:
        condition: service_healthy
      api-gateway-server:
        condition: service_started
    ports:
      - "8082:8082"
      - "50082:50082"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  board-server:
    build:
      context: ./board
      dockerfile: Dockerfile
    image: eodud4976/unimal-board
    depends_on:
      postgis-db:
        condition: service_healthy
      api-gateway-server:
        condition: service_started
    ports:
      - "8083:8083"
      - "50083:50083"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  photo-server:
    build:
      context: ./photo
      dockerfile: Dockerfile
    image: eodud4976/unimal-photo
    depends_on:
      postgis-db:
        condition: service_healthy
    ports:
      - "8084:8084"
      - "50084:50084"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  notification-server:
    build:
      context: ./notification
      dockerfile: Dockerfile
    image: eodud4976/unimal-notification
    depends_on:
      postgis-db:
        condition: service_healthy
    ports:
      - "8085:8085"
      - "50085:50085"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge