services:
  nginx:
    image: nginx:alpine
    container_name: unimal-nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-gateway-server
    networks:
      - backend-network
    restart: always

  api-gateway-server:
    image: eodud4976/unimal-apigateway
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  user-server:
    image: eodud4976/unimal-user
    depends_on:
      api-gateway-server:
        condition: service_started
    ports:
      - "8081:8081"
      - "50081:50081"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  map-server:
    image: eodud4976/unimal-map
    depends_on:
      api-gateway-server:
        condition: service_started
    ports:
      - "8082:8082"
      - "50082:50082"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  board-server:
    image: eodud4976/unimal-board
    depends_on:
      api-gateway-server:
        condition: service_started
    ports:
      - "8083:8083"
      - "50083:50083"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  photo-server:
    image: eodud4976/unimal-photo
    ports:
      - "8084:8084"
      - "50084:50084"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

  notification-server:
    image: eodud4976/unimal-notification
    ports:
      - "8085:8085"
      - "50085:50085"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: postgis-db
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge