services:
  nginx:
    image: nginx:alpine
    container_name: unimal-nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-gateway-server
    networks:
      - backend-network
    restart: always

  api-gateway-server:
    image: eodud4976/unimal-apigateway:${API_GATEWAY_TAG:-latest}
    pull_policy: always
    ports:
      - "127.0.0.1:8080:8080"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: ${DATABASE_DOCKER_HOST}
      REDIS_HOST: ${REDIS_DOCKER_HOST}
    networks:
      - backend-network

  user-server:
    image: eodud4976/unimal-user:${USER_TAG:-latest}
    pull_policy: always
    depends_on:
      api-gateway-server:
        condition: service_started
    ports:
      - "127.0.0.1:8081:8081"
      - "127.0.0.1:50081:50081"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: ${DATABASE_DOCKER_HOST}
      REDIS_HOST: ${REDIS_DOCKER_HOST}
    networks:
      - backend-network

  map-server:
    image: eodud4976/unimal-map:${MAP_TAG:-latest}
    pull_policy: always
    depends_on:
      api-gateway-server:
        condition: service_started
    ports:
      - "127.0.0.1:8082:8082"
      - "127.0.0.1:50082:50082"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: ${DATABASE_DOCKER_HOST}
      REDIS_HOST: ${REDIS_DOCKER_HOST}
    networks:
      - backend-network

  board-server:
    image: eodud4976/unimal-board:${BOARD_TAG:-latest}
    pull_policy: always
    depends_on:
      api-gateway-server:
        condition: service_started
    ports:
      - "127.0.0.1:8083:8083"
      - "127.0.0.1:50083:50083"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: ${DATABASE_DOCKER_HOST}
      REDIS_HOST: ${REDIS_DOCKER_HOST}
    networks:
      - backend-network

  photo-server:
    image: eodud4976/unimal-photo:${PHOTO_TAG:-latest}
    pull_policy: always
    ports:
      - "127.0.0.1:8084:8084"
      - "127.0.0.1:50084:50084"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: ${DATABASE_DOCKER_HOST}
      REDIS_HOST: ${REDIS_DOCKER_HOST}
    networks:
      - backend-network

  notification-server:
    image: eodud4976/unimal-notification:${NOTIFICATION_TAG:-latest}
    pull_policy: always
    ports:
      - "127.0.0.1:8085:8085"
      - "127.0.0.1:50085:50085"
    restart: always
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATABASE_HOST: ${DATABASE_DOCKER_HOST}
      REDIS_HOST: ${REDIS_DOCKER_HOST}
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
