services:
  postgis-db:
    image: postgis/postgis:18-3.6
    container_name: unimal-postgis
    ports:
      - "127.0.0.1:${DATABASE_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      TZ: Asia/Seoul
    volumes:
      - postgis-data:/var/lib/postgresql
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    restart: always
    networks:
      - backend-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: unimal-redis
    ports:
      - "127.0.0.1:${REDIS_PORT:-6379}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    restart: always
    networks:
      - backend-network
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  backend-network:
    driver: bridge

volumes:
  postgis-data:
    driver: local
  redis-data:
    driver: local