server:
  port: ${PHOTO_SERVICE_PORT}
  servlet:
    context-path: /photo

spring:
  main:
    allow-bean-definition-overriding: true
  config:
    activate:
      on-profile: docker
  application:
    name: photo-server
  servlet:
    multipart:
      max-file-size: 30MB

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    defer-datasource-initialization: true
    properties:
      hibernate:
        default_schema: ${DATABASE_PHOTO_SCHEMA}

  sql:
    init:
      mode: always
      continue-on-error: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATABASE_DOCKER_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dbcp2:
      default-schema: ${DATABASE_PHOTO_SCHEMA}

  data:
    redis:
      host: ${REDIS_DOCKER_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  kafka:
    bootstrap-servers: ${KAFKA_SERVER_DOCKER_1},${KAFKA_SERVER_DOCKER_2},${KAFKA_SERVER_DOCKER_3}
    consumer:
      group-id: unimal-photo-group
      auto-offset-reset: latest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    listener:
      missing-topics-fatal: false

  management:
    endpoints:
      web:
        exposure:
          include: health,info,metrics,prometheus
    metrics:
      export:
        prometheus:
          enabled: true

aws:
  access-key: ${AWS_ACCESS_KEY_ID}
  secret-key: ${AWS_SECRET_ACCESS_KEY}
  s3:
    bucket: ${AWS_S3_BUCKET_NAME}
    region: ${AWS_REGION}

grpc:
  server:
    port: ${PHOTO_SERVICE_GRPC_PORT}
    enable-keep-alive: true
    keep-alive-time: 60s
    keep-alive-timeout: 30s