server:
  port: ${API_GATEWAY_SERVICE_PORT}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

spring:
  main:
    allow-bean-definition-overriding: true
  config:
    activate:
      on-profile: local
  application:
    name: api-gateway-server

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    defer-datasource-initialization: true
    properties:
      hibernate:
        default_schema: ${DATABASE_USER_SCHEMA}

  sql:
    init:
      mode: always
      continue-on-error: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dbcp2:
      default-schema: ${DATABASE_USER_SCHEMA}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  management:
    endpoints:
      web:
        exposure:
          include: health

custom:
  jwt:
    secret-key: ${JWT_SECRET_KEY:and0LXNlY3JldC1rZXktand0LXNlY3JldC1rZXktand0LXNlY3JldC1rZXk=}
  route:
    user:
      uri: ${USER_SERVICE_URI}
      port: ${USER_SERVICE_PORT}
    map:
      uri: ${MAP_SERVICE_URI}
      port: ${MAP_SERVICE_PORT}
    board:
      uri: ${BOARD_SERVICE_URI}
      port: ${BOARD_SERVICE_PORT}
    photo:
      uri: ${PHOTO_SERVICE_URI}
      port: ${PHOTO_SERVICE_PORT}
    notification:
      uri: ${NOTIFICATION_SERVICE_URI}
      port: ${NOTIFICATION_SERVICE_PORT}


