server:
  port: ${MAP_SERVICE_PORT}
  servlet:
    context-path: /map

spring:
  config:
    activate:
      on-profile: local
  application:
    name: map-server

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    defer-datasource-initialization: true
    properties:
      hibernate:
        default_schema: ${DATABASE_MAP_SCHEMA}

  sql:
    init:
      mode: always
      continue-on-error: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dbcp2:
      default-schema: ${DATABASE_MAP_SCHEMA}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  management:
    endpoints:
      web:
        exposure:
          include: health,info,metrics,prometheus
    metrics:
      export:
        prometheus:
          enabled: true

grpc:
  server:
    port: ${MAP_SERVICE_GRPC_PORT}
    enable-keep-alive: true
    keep-alive-time: 60s
    keep-alive-timeout: 30s

custom:
  data:
    map:
      api-key: ${GOOGLE_GEOCODING_API_KEY}