server:
  port: ${BOARD_SERVICE_PORT}
  servlet:
    context-path: /board

spring:
  main:
    allow-bean-definition-overriding: true
  config:
    activate:
      on-profile: local
  application:
    name: board-server
  servlet:
    multipart:
      max-file-size: 30MB

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    defer-datasource-initialization: true
    properties:
      hibernate:
        default_schema: ${DATABASE_BOARD_SCHEMA}

  sql:
    init:
      mode: always
      continue-on-error: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dbcp2:
      default-schema: ${DATABASE_BOARD_SCHEMA}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  management:
    endpoints:
      web:
        exposure:
          include: health,info,metrics,prometheus
    metrics:
      export:
        prometheus:
          enabled: true

  kafka:
    bootstrap-servers: ${KAFKA_SERVER_1},${KAFKA_SERVER_2},${KAFKA_SERVER_3}

    consumer:
      group-id: unimal-board-group
      auto-offset-reset: latest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    listener:
      missing-topics-fatal: false

grpc:
  client:
    map-grpc:
      address: static://localhost:${MAP_SERVICE_GRPC_PORT}
      negotiation-type: plaintext
    photo-grpc:
      address: static://localhost:${PHOTO_SERVICE_GRPC_PORT}
      negotiation-type: plaintext


etc:
  base-url:
    photo: http://${BASE_URI}:${API_GATEWAY_SERVICE_PORT}
  files:
    base-url: ${AWS_CLOUDFRONT_DOMAIN}